@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-area {
  min-height: calc(100vh - 8rem);
}

@layer utilities {
  .glass {
    @apply bg-gray-100/5 backdrop-blur-lg border border-gray-100/20;
  }
}
